# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\GIT\ai_hw3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
